Source: python-dime
Section: python
Priority: extra
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 7), python-all-dev, python-support
Standards-Version: 3.8.1
Bugs: mailto:ubanus@users.sf.net
Vcs-Svn: http://python-dime.googlecode.com/svn/trunk
Vcs-Browser: http://code.google.com/p/python-dime/source/browse
Homepage: http://python-dime.googlecode.com/
XS-Python-Version: >= 2.4

Package: python-dime
Architecture: all
Depends: ${python:Depends}
Description: Python module for DIME message processing
 python-dime provides a way to parse and generate DIME messages.
 .
 Direct Internet Message Encapsulation (DIME) is a binary message
 format that can be used to encapsulate multiple payloads into a single
 message.
